<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="graph" class="pfr.framework.KnowledgeGraphBuilder">
        <property name="graphPath" value="C:/Users/Lin/Desktop/testdata/graphdb-primitive"/>
        <property name="pfrPlugins">
            <list>
                <ref bean="codegraph" />
                <ref bean="sograph" />
				<ref bean="mailgraph" />
                <ref bean="issuegraph" />
            </list>
        </property>
    </bean>
    <bean id="codegraph" class="pfr.plugins.parsers.javacode.PfrPluginForJavaCode">
        <property name="srcPath" value="C:/Users/Lin/Desktop/testdata/sourcecode" />
    </bean>
    <bean id="sograph" class="pfr.plugins.parsers.stackoverflow.PfrPluginForStackOverflow">
        <property name="folderPath" value="C:/Users/Lin/Desktop/testdata/stackoverflow" />
    </bean>
    <bean id="issuegraph" class="pfr.plugins.parsers.issuetracker.PfrPluginForIssueTracker">
		<property name="extractor">
			<bean id="jiraExtractor" class="pfr.plugins.parsers.issuetracker.extractors.JiraExtractor">
				<property name="issueFolderPath" value="C:/Users/Lin/Desktop/testdata/jira" />
			</bean>
		</property>
	</bean>
	<bean id="mailgraph" class="pfr.plugins.parsers.mail.PfrPluginForMailList">
		<property name="mboxPath" value="C:/Users/Lin/Desktop/testdata/mbox" />
	</bean>
</beans>