<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="graph" class="KnowledgeGraphBuilder">
        <property name="graphPath" value="E:/SnowGraphData/lucene/graphdb-copy"/>
		<property name="baseGraphPath" value="E:/SnowGraphData/lucene/graphdb-primitive"/>
    </bean>
</beans>