<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="graph" class="framework.KnowledgeGraphBuilder">
        <property name="graphPath" value="E:/SnowGraphData/lucene/graphdb-primitive"/>
        <property name="extractors">
            <list>
                <ref bean="codegraph" />
                <ref bean="sograph" />
				<ref bean="mailgraph" />
                <ref bean="issuegraph" />
            </list>
        </property>
    </bean>
    <bean id="codegraph" class="extractors.parsers.javacode.JavaCodeKnowledgeExtractor">
        <property name="srcPath" value="E:/SnowGraphData/lucene/sourcecode" />
    </bean>
    <bean id="sograph" class="extractors.parsers.stackoverflow.StackOverflowKnowledgeExtractor">
        <property name="folderPath" value="E:/SnowGraphData/lucene/stackoverflow" />
    </bean>
    <bean id="issuegraph" class="extractors.parsers.issuetracker.IssueTrackerKnowledgeExtractor">
		<property name="parser">
			<bean id="jiraParser" class="extractors.parsers.issuetracker.JiraParser">
				<property name="issueFolderPath" value="E:/SnowGraphData/lucene/jira" />
			</bean>
		</property>
	</bean>
	<bean id="mailgraph" class="extractors.parsers.mail.MailListKnowledgeExtractor">
		<property name="mboxPath" value="E:/SnowGraphData/lucene/mbox" />
	</bean>
</beans>