<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="graph" class="pfr.framework.KnowledgeGraphBuilder">
        <property name="graphPath" value="C:/Users/Lin/Desktop/testdata/graphdb"/>
		<property name="baseGraphPath" value="C:/Users/Lin/Desktop/testdata/graphdb-primitive-copy"/>
    </bean>
</beans>